Labs/DistSysACW/ACW_Client/Connected Services/HostTalkback/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaklbackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Host" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITalkbackService_server_reply_InputMessage">
    <wsdl:part name="parameters" element="tns:server_reply" />
  </wsdl:message>
  <wsdl:message name="ITalkbackService_server_reply_OutputMessage">
    <wsdl:part name="parameters" element="tns:server_replyResponse" />
  </wsdl:message>
  <wsdl:message name="ITalkbackService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ITalkbackService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ITalkbackService">
    <wsdl:operation name="server_reply">
      <wsdl:input wsaw:Action="http://tempuri.org/ITalkbackService/server_reply" message="tns:ITalkbackService_server_reply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITalkbackService/server_replyResponse" message="tns:ITalkbackService_server_reply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ITalkbackService/GetDataUsingDataContract" message="tns:ITalkbackService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITalkbackService/GetDataUsingDataContractResponse" message="tns:ITalkbackService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITalkbackService" type="tns:ITalkbackService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="server_reply">
      <soap:operation soapAction="http://tempuri.org/ITalkbackService/server_reply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ITalkbackService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaklbackService">
    <wsdl:port name="BasicHttpBinding_ITalkbackService" binding="tns:BasicHttpBinding_ITalkbackService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Host/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>